<div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-post" class="button">+ Adicionar Perfil - via Admin</a>
</div>

<ul class="admin-posts">

    <div style="text-align: center;">
        (Os mais recentes serão exibidos primeiro - Remoções são permanentes!) 
    </div>

<div id="cadaPerfil">
    <% data.forEach(post => { %>
        
        <li>
            <a href="/post/<%= post._id %>">
                <%= post.title %> &nearr;
            </a>
        </li>
        <div class="admin-post-controls">

            <a href="/edit-post/<%= post._id %>" class="btn">

                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="white" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z" />
                </svg>

                Editar
            </a>

            <button class="btn" id="deletarPrimeiro">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="white" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12l1.41 1.41L13.41 14l2.12 2.12l-1.41 1.41L12 15.41l-2.12 2.12l-1.41-1.41L10.59 14zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
                </svg>

                Deletar
            </button>

            <div id="confirmar" style="display: none">

                  <b>Tem certeza?</b>

                <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Sim">
                </form>
                    <input type="submit" value="Não" id="botaonao">
            </div>
        </div>
        
    <% }) %>
</div>
<script>
    var botao = document.getElementById('deletarPrimeiro');
    var botaonao = document.getElementById('botaonao');
    var confirmar = document.getElementById('confirmar');

    botao.addEventListener('click', function() {
        confirmar.style.display = 'inline-block';
    });
    botaonao.addEventListener('click', function() {
        confirmar.style.display = 'none';
    })
</script>
</ul>

