<div class="admin-title">
    <h2>Posts</h2>
    <a href="/add-post" class="button">+ Adicionar Perfil - via Admin</a>
</div>

<ul class="admin-posts">

    <div style="text-align: center;">
        (Os mais recentes serão exibidos primeiro)
    </div>

    <% data.forEach(post => { %>
        
        <li>
            <a href="/post/<%= post._id %>">
                <%= post.title %> &nearr;
            </a>
        </li>
        <div class="admin-post-controls">
            <a href="/edit-post/<%= post._id %>" class="btn">Editar</a>

            <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Deletar" class="btn">
            </form>
        </div>
    <% }) %>
</ul>