<footer class="footer">
    &copy; <%= new Date().getFullYear(); %> - Este projeto é protegido pela Licença Pública Geral v3.0 da GNU <br>
    <a href="/">Início</a> | <a href="/admin">Acessar Painel do Admin</a>
</footer>
