<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer">
    &copy; <%= new Date().getFullYear(); %> - Este projeto é protegido pela Licença Pública Geral Affero v3.0 da GNU<br>
    <a href="/">Início</a> | <i class="fa fa-lock"></i>  <a href="/admin"> Acessar Painel do Admin </a>
</footer>
