<header class="header">
    <a href="/" class="header__logo">Painel do Administrador</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Sla</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>

    
    <div style="text-align: center;" class="alerta__admin">
        <p>[ AVISO: AS ALTERAÇÕES AQUI AFETARÃO TODO O SITE ]</p>
        <p>Você está no modo Administrador!</p>
    </div>
</header>