

        <link rel="stylesheet" href="/css/contato.css">



        <section class="contact-info">
            <h1>Contate a gente</h1>
            <ul>
                <li>(21) 99060-5562</li>
                <li>(21) 95902-6108</li>
                <li>(21) 98733-0432</li>


                <p>
                    Também temos o nosso Instagram
                    <span class="instagram-link-container">
                        <a href="https://www.instagram.com/connectionssparks/" target="_blank"
                            class="instagram-link">@connectionssparks</a>
                    </span>
                </p>

    </section>
    <div class="star" style="top: 56%; left: 25%;"></div>
    <div class="star" style="top: 24%; left: 68%;"></div>
    <div class="star" style="top: 74%; left: 42%;"></div>
    <div class="star" style="top: 16%; left: 20%;"></div>
    <div class="star" style="top: 34%; left: 40%;"></div>
    <div class="star" style="top: 11%; left: 60%;"></div>
    <div class="star" style="top: 10%; left: 22%;"></div>
    <div class="star" style="top: 3%; left: 95%;"></div>
    <div class="star" style="top: 50%; left: 54%;"></div>
    <div class="star" style="top: 15%; left: 90%;"></div>
    <div class="star" style="top: 30%; left: 10%;"></div>
    <div class="star" style="top: 80%; left: 10%;"></div>
    <div class="star" style="top: 80%; left: 60%;"></div>