<style>
    body {
        background-color: rgb(13, 2, 38);
        background-image: none;
    }
</style>

<html lang="pt-br">
<body>
<form id="formulario" action='/novogrupo' method='POST'>
    <h1>NOVO GRUPO</h1>

    <label for="nomegrupo"><b>Nome do Grupo:</b></label>
    <input type="text" id="nomegrupo" name="nomegrupo" required>

    <label for="descricao"><b>Descrição do grupo:</b></label>
    <input type="text" id="descricao" name="descricao" required>

    <h2>SELECIONE OS MEMBROS DO GRUPO:</h2>
    <h4>*Apenas eles poderão interagir com o grupo.</h4>
    <fieldset> <legend>Convide os usuários:</legend>
        
        <% data.forEach (post => { %>
            <label>
                <img src="/img/user.png" class="foto-perfil" style="max-width: 11%;">
                <input type="checkbox" name="selectedUsers" value="<%= post.id %>">
                <%= post.title %>
            </label> <br>
        <% }) %>
        
        <input type="submit" value="Criar Grupo" class="btn" style="margin-top: 2%; padding: 3%;">            
    </fieldset>
</form>
</body>

</html>