<form action="/criar" method="POST">
    <h1>Criar Perfil</h1>
    <label for="title">Nome</label>
    <input type="text" id="username" name="title" required>

    <div>
        <label for="nascimento">Data de Nascimento</label> 
        <input type="date" id="birthdate" name="nascimento">
    </div>
    
    <label for="sexo">Sexo</label>
    <input type="text" id="gender" name="sexo" required>
    </select>

    <label for="insta">Usuário do Instagram</label> <font color="grey">(opcional)</font>
    <input type="text" id="instagram" placeholder="Não é necessário digitar o símbolo de arroba (@)" name="insta" onkeypress="return lettersOnly(event);">
     
    <label for="body"><b>Biografia Aqui</b></label>
    <textarea name="body" coLs="50" rows="10"></textarea>

    <input type="submit" value="Criar Perfil" class="btn">
</form>

<script>
function lettersOnly(evt) {
    evt = (evt) ? evt : event;
    var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode :
        ((evt.which) ? evt.which : 0));
    if (charCode > 31 && (charCode < 65 || charCode > 90) &&
        (charCode < 97 || charCode > 122)) {
        //alert("Não é necessário adicionar o símbolo do @."); //não gostei do alert pq ele cria um popup na tela!
        event.preventDefault(); //esse só vai não adicionar o @ e ficar quieto
        return false;
    }
    return true;
}
</script>