<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h2>Definir Foto de Perfil:</h2>
<h4>
    <ol>
        <li>
            Clique em procurar;
        </li>
        <li>
            Após selecionar sua imagem, clique em Enviar;
        </li>
        <li>
            Caso tudo esteja correto, clique em "Terminar" para ver seu perfil.
        </li>
    </ol>
</h4> <br>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="image">
    <button type="submit">Enviar</button>
</form> <br>

<img id="previewImage" class="foto-perfil" src="<%= data.imagem %>" alt="Imagem"> 


<p>Sua foto será mostrada para todos os usuários do site.</p>

<a href="/post/<%= data._id %>">
    <button class="btn">Terminar</button>
</a>

<script>
    $(document).ready(function() {
        $('#uploadForm').submit(function(event) {
            event.preventDefault();

            var formData = new FormData($(this)[0]);

            $.ajax({
                url:  '/pfp/<%= data._id %>',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    console.log(response);  

                    // Atualizar a imagem de visualização (opcional)
                    $('#previewImage').attr('src', '/uploads/' + response.filename); // Ajustar o caminho se necessário
                }
            });
        });
    });
</script>

<!-- imagem bla bla bla:

<br>

<img src="/uploads/d0b27e4564c2de031d263473ffb597f6"> -->