<div class="author">
    <h1 class="author__heading">Connections: Sparks</h1>
    <p class="author__body">Foça parte da nossa constelação! Crie um perfil:</p>
    <a href="/criar" class="btn">Criar Novo Perfil</a>
</div>


<section class="articles">
    <h2 class="articles__heading">Perfis:</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
          <li>
            <a href="/post/<%= post._id %>">
              <img src='/img/user.png' class="foto-perfil"> 
              <span><%= post.title %></span>
              <span class="article-list__date">Criado em: <%= post.createdAt.toDateString() %> <p>Curtidas: 0</p></span>
            </a>
          </li>
        <% }) %>
      </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; Ver posts mais velhos</a>
    <% } %>
</section>