<div class="author">
    <h1 class="author__heading">Olá!</h1>
    <a href="/criar" class="button">Adicionar Novo Perfil</a>
    <p class="author__body">Esse é um teste para a FECIP:</p>
</div>

<p class="disclaimer-roubo">(o resto do site é só o css que eu roubei de alguém)</p>
<link rel="stylesheet" href="/css/style.css">

<section class="articles">
    <h2 class="articles__heading">Perfis:</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
          <li>
            <a href="/post/<%= post._id %>">
              <span><%= post.title %></span>
              <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
          </li>
        <% }) %>
      </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; Ver posts mais velhos</a>
    <% } %>
</section>
