<form action="/interesses/<%= data._id %>?method=POST" method="POST">

    <input type="submit" value="Fim" class="btn">


<div>
    <input type="hidden" name="option[0]" value="0">
    <input type="hidden" name="option[1]" value="0">
    <input type="hidden" name="option[2]" value="0">
    <input type="checkbox" name="option[0]" value="1">
    <input type="checkbox" name="option[1]" value="1">
    <input type="checkbox" name="option[2]" value="1">
    
    <input type="hidden" name="languages[0]" value="english">
    <input type="checkbox" name="languages[0]" value="english">
    <label>english</label><br>

    <input type="hidden" name="languages[1]" value="tagalog">
    <input type="checkbox" name="languages[1]" value="tagalog" id="2">
    <label>tagalog</label><br>

    <input type="hidden" name="languages[2]" value="portuguese">
    <input type="checkbox" name="languages[2]" value="portuguese" id="3">
    <label>portuguese</label><br>
  
    <input type="submit" value="Fim" class="btn">
    <script>
    </script>
</div>

</form>