

<form action="/interesses/<%= data._id %>?method=POST" method="POST">

<div> 
    <input type="checkbox" name="categoria" id="aba" value="Música" onchange="abrir('abaEstilos')"> <label>Música</label> <br>
        <div id="abaEstilos" style="display: none;">
            -> <input type="checkbox" name="interesses" value="Música Pop"> <label>Pop</label> <br>
            -> <input type="checkbox" name="interesses" value="Música Eletrônica"> <label>Eletrônica</label> <br>
            -> <input type="checkbox" name="interesses" value="Rock"> <label>Rock</label> <br>
            -> <input type="checkbox" name="interesses" value="Metal"> <label>Metal</label> <br>
        </div>
    
    <input type="checkbox" name="categoria" id="aba" value="Bandas" onchange="abrir('abaBandas')"> <label>Bandas</label> <br>
    <div id="abaBandas" style="display: none;">
        -> <input type="checkbox" name="interesses" value="Tame Impala"> <label>Tame Impala</label> <br>
        -> <input type="checkbox" name="interesses" value="Daft Punk"> <label>Daft Punk</label> <br>
        -> <input type="checkbox" name="interesses" value="Metro Boomin"> <label>Metro Boomin</label> <br>
        -> <input type="checkbox" name="interesses" value="Ghost"> <label>Ghost</label> <br>
        -> <input type="checkbox" name="interesses" value="Nine Inch Nails"> <label>Nine Inch Nails</label> <br>
        -> <input type="checkbox" name="interesses" value="System of a Down"> <label>System of a Down</label> <br>
        -> <input type="checkbox" name="interesses" value="Metallica"> <label>Metallica</label> <br>
    </div>
        
    <input type="checkbox" name="categoria" id="aba" value="Carros"> <label>Carros</label> <br>
    <input type="checkbox" name="categoria" id="abaCinema" value="Cinema"> <label>Cinema</label> <br>
    <input type="checkbox" name="categoria" id="abaJogos" value="Videogames"> <label>Videogames</label> <br>
    <input type="checkbox" name="categoria" id="abaEsportes" value="Esportes"> <label>Esportes</label> <br>
</div>

<input type="submit" value="Fim" class="btn">

</form>

<script>  
    function abrir(categoria){
        document.getElementById(categoria).style.display="flex";
    };
</script>