<style>
    body {
        background-color: rgb(13, 2, 38);
        background-image: none;
    }
</style>

<h1>GRUPOS:</h1>

<a href="/novogrupo">
    <button style="margin-bottom: 0%; margin-top: -20%;" class="btn">
        CRIAR SEU GRUPO
    </button>
</a>

<p>Grupos são pequenas comunidades onde apenas os usuários que foram convidados podem fazer publicações e interagir com elas.
    Abaixo estão os grupos já criados:</p>

<% grupos.forEach(grupo => { %>
    <li>
        <dt>
            <a href='/grupo/<%= grupo._id %>'> <b><%= grupo.nome %></b> </a>
        </dt>
        <dd> <%= grupo.descricao %> </dd>
    </li>
<% }) %>