<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<h3>FAZER LOGIN NA SUA CONTA:</h3>

<form action="/login" method="POST">
    <label for="email"><b>Usuário</b></label>
    <input type="text" placeholder="Não é mnecessário usar seu e-mail verdadeiro" name="email">
    
    <label for="senha"><b>Senha</b></label>
    <input type="password" placeholder="Não use sua senha cotidiana" name="senha">
    
    <input type="submit" value="Login" class="btn">
</form>