<style>
    body {
        background-position: 1100px 200px;
    }

    body-here {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        /* Ajuste conforme necessário */
        margin: 0px;
    }


    .container-form {
        background-color: none;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        height: 220px;
        width: 500px;
    }

    .btn-entrar {
        margin-top: 0%;
        background-color: var(--purple);
        background-image: linear-gradient(#cf57ff, #7700a7);
        color: white;
        /* Cor do texto */
        border: none;
        /* Remover borda */
        padding: 10px 50px;
        /* Espaçamento interno */
        text-align: center;
        /* Alinhamento do texto */
        text-decoration: none;
        /* Remover sublinhado */
        display: inline-block;
        font-size: 16px;
        transition: transform 0.1s ease;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: #7700a7;
    }

    .btn-entrar:hover {
        transform: translateY(2px);
        /* Abaixar 2 pixels */
    }

    .form-inputs {
        width: 180%;
        /* Faz com que os campos ocupem toda a largura do contêiner */
        padding: 10px;
        /* Adiciona espaçamento interno aos campos */
        margin: 10px 0;
        /* Espaçamento entre os campos */
        border: 1px solid #ccc;
        /* Borda padrão */
        border-radius: 5px;
        /* Cantos arredondados */
    }

    #emailError {
        color: red;
        display: none;
    }
</style>

<h3 style="text-align: center; margin-bottom: -20px;">FAZER LOGIN:</h3>
<body-here>
    <div class="container-form">
        <form action="/login" method="POST" autocomplete="off">
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" required class="form-inputs" placeholder="Digite seu e-mail">

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required class="form-inputs" placeholder="Digite sua senha">

            <small id="emailError" style="margin: 5px;"></small>

            <div style="display: flex;
            justify-content: center;
            align-items: center;">
                <button type="submit" class="btn-entrar">Iniciar</button>
            </div>

        </form>
    </div>
</body-here>