<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<div class="form-container2">
   
            
    <form action="/registro" method="POST">
        <label for="email"><b>Usuário</b></label>
        <input type="text" placeholder="Não é necessário usar seu e-mail verdadeiro" name="email"  class="form-input">

        <label for="senha"><b>Senha</b></label>
        <input type="password" placeholder="Digite sua senha" name="senha"  class="form-input">

        <button type="submit" class="btn-Login" style="align-self: center; margin-top: 5%;">COMEÇAR</button>
    </form>
</div>


<style>
    body{
        background-position: 1100px 200px;
    }
</style>
<div class="star" style="top: 56%; left: 25%;"></div>
<div class="star" style="top: 24%; left: 68%;"></div>
<div class="star" style="top: 74%; left: 42%;"></div>
<div class="star" style="top: 16%; left: 20%;"></div>
<div class="star" style="top: 37%; left: 40%;"></div>
<div class="star" style="top: 11%; left: 60%;"></div>
<div class="star" style="top: 10%; left: 22%;"></div>
<div class="star" style="top: 7%; left: 95%;"></div>
<div class="star" style="top: 50%; left: 54%;"></div>
<div class="star" style="top: 15%; left: 90%;"></div>
<div class="star" style="top: 30%; left: 10%;"></div>
<div class="star" style="top: 80%; left: 10%;"></div>
<div class="star" style="top: 80%; left: 60%;"></div>
<div class="star" style="top: 12%; left: 34%;"></div>
<div class="star" style="top: 67%; left: 22%;"></div>
<div class="star" style="top: 58%; left: 75%;"></div>
<div class="star" style="top: 9%; left: 49%;"></div>
<div class="star" style="top: 45%; left: 37%;"></div>
<div class="star" style="top: 21%; left: 83%;"></div>
<div class="star" style="top: 4%; left: 12%;"></div>
<div class="star" style="top: 33%; left: 88%;"></div>
<div class="star" style="top: 78%; left: 56%;"></div>
<div class="star" style="top: 25%; left: 92%;"></div>
<div class="star" style="top: 68%; left: 8%;"></div>
<div class="star" style="top: 77%; left: 39%;"></div>
<div class="star" style="top: 83%; left: 69%;"></div>


</body>
