<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<h3>SE AVENTURE NESSA REDE CÓSMICA:</h3>

<form action="/registro" method="POST">
    <label for="email"><b>Usuário</b></label>
    <input type="text" placeholder="" name="email">
    
    <label for="senha"><b>Senha</b></label>
    <input type="password" placeholder="" name="senha">
    
    <input type="submit" value="Login" class="btn">
</form>